.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array-container {
  display: flex;
  justify-content: center;
  height: 250px;
}

.array-bar {
  position: relative;
  text-align: center;
  transform: scaleY(-1);
  margin-left: 3px;
  margin-right: 3px;
}

.bar {
  width: 30px;
  
  margin: 0 2px;
  background-color: #2196f3;
  align-items: flex-end;
  display: inline-block;
  transition: height 0.3s, background-color 0.3s;
}

.bar-number {
  position: absolute;
  width: 100%;
  font-size: 12px;
  transform: scaleY(-1);
}

.controls {
  margin-top: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 10px 28px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.bar.compare {
  background-color: red;
}

.bar.swap {
  transition: height 0.3s, background-color 0.3s, transform 0.3s;
  transform: translate(0, 10px);
}

input[type="range"] {
  width: 100px;
  margin: 0 10px;
}

.speed-label {
  font-size: 14px;
}
