.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  width: 100%;
}

.input-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-group {
  margin: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="range"] {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  border: none; 
  border-radius: 5px;
  appearance: none;
}

.input-group input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.input-group input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.array-view {
  width: 20px;
  margin: 0 1px;
  background-color: #3498db;
  position: relative;
  display: flex;
  align-items: center;
}

.array-view .array-value {
  position: absolute;
  top: -15px;
  font-size: 10px;
  transform: rotate(-90deg);
}

.button-container {
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
}
