
.algorithm-type {
  text-align: center;
}

.dropdown-label {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 15px;
}

.custom-select {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--body_background);
  color: var(--body_color);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.selected-algorithm {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.custom-select:hover {
  border-color: #007bff;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.main-frame {
  display: flex;
  justify-content: space-around;
}
.main-frame > div{
  width: 50%;
}
